input{
  width: 300px;
}
.search-result {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: 40px;
  list-style-type: none;
  width: 340px;
}
.search-result li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
